@font-face {
  font-family: balsamiq;
  src: url('balsamiq.ttf');
}

body {
  @max-width: 1280px;
  margin: 0 auto;
  padding: 40px 0;
  max-width: @max-width;
  height: 100%;
  box-sizing: border-box;
  font-size: 28px;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: @max-width auto;
  font-family: balsamiq;
  color: white;
}

a {
  color: white;

  &:hover {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
}

h1 {
  font-size: 140%;
}

h2 {
  font-size: 120%;
}

.view {
  background-color: @background-color-1;
}

.wrapper {
  margin-left: @menu-width;
  padding: 0 30px;
}
