@transition-duration: .3s;
@link-color: #82cf8f;
@background-color-1: #596273;
@background-color-2: darken(#596273, 5%);;
@who-color: #00aaef;
@what-color: #82cf8f;
@where-color: #f7d884;
@menu-width: 400px;
@border-radius: 20px;
@mobile-width-intermediate-detection: 800px;
@mobile-width-detection: 1024px;
@header-dimensions-mobile: 60px;