<div class="menu">
    <div class="header"></div>
    <ul class="navigation" ng-class="{'navigation-toggled': toggledMenu}">
        <li ng-repeat="link in links" class="link link-{{link.id}}"
            ng-class="{'link-current': link.id === currentState.name}">
            <icon class="link-icon link-icon-{{link.id}}"></icon>
            <a ui-sref="{{link.id}}" class="link-text link-text-{{link.id}}">
                {{link.text}}
            </a>
        </li>
    </ul>
    <div class="current-page">{{currentState.linkText}}</div>
    <div class="menu-toggle" ng-click="toggleMenu()"></div>
    <a href="http://angularconnect.com/speakers#ricardo-mallols"
       target="_blank" class="angular-connect">
        <img src="img/angularConnect.svg" />
    </a>
</div>