.menu {
  @menu-padding: 40px;
  @header-border-width: 0px;
  @header-width: @menu-width - (2 * @menu-padding) - (2 * @header-border-width);
  float: left;
  padding: 0 @menu-padding;
  width: @menu-width;
  box-sizing: border-box;

  @media only screen and (max-width: @mobile-width-detection) {
    position: fixed;
    top: 0;
    width: 100%;
    height: 150px;
    padding: 0;
  }

  .header {
    height: @header-width;
    border-radius: @menu-width / 2;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: @background-color-2;
    background-size: cover;
    border-width: @header-border-width;
    border-style: solid;
    border-color: @background-color-2;
    position: relative;
    z-index: 1;

    @media only screen and (max-width: @mobile-width-detection) {
      position: absolute;
      float: left;
      width: @header-dimensions-mobile;
      height: @header-dimensions-mobile;
      border-radius: 0;
      background-size: auto 82px;
      background-position: -10px -2px;
    }

    .view-who & {
      background-image: url('img/RicardoMallolsWho.png');
    }

    .view-what & {
      background-image: url('img/RicardoMallolsWhat.png');
    }

    .view-where & {
      background-image: url('img/RicardoMallolsWhere.png');
    }
  }

  .navigation {
    @navigation-gutter: 60px;
    width: @header-width - (@navigation-gutter / 2);
    margin: -(@header-width / 2) 0 0 @navigation-gutter / 2;
    padding: @menu-width / 2 0 20px 0;
    border-radius: 0 0 @border-radius @border-radius;
    background-color: @background-color-2;

    @media only screen and (max-width: @mobile-width-detection) {
      .transition(margin @transition-duration);
      .offsettedWidth(-2 * @header-dimensions-mobile);
      position: absolute;
      z-index: 1;
      padding: 0;
      margin: -100% @header-dimensions-mobile 0 @header-dimensions-mobile;

      &.navigation-toggled {
        margin-top: 0;
      }
    }
  }

  .current-page {
    display: none;

    @media only screen and (max-width: @mobile-width-detection) {
      .offsettedWidth(-2 * @header-dimensions-mobile);
      top: 0;
      position: absolute;
      display: block;
      height: @header-dimensions-mobile;
      background-color: @background-color-2;
      margin: 0 @header-dimensions-mobile;
      text-align: center;
      padding-top: 11px;
      box-sizing: border-box;
    }
  }

  .menu-toggle {
    display: none;

    @media only screen and (max-width: @mobile-width-detection) {
      background: @background-color-2 url('img/menuToggle.svg') no-repeat center center;
      background-size: cover;
      cursor: pointer;
      width: @header-dimensions-mobile;
      height: @header-dimensions-mobile;
      position: absolute;
      display: block;
      top: 0;
      right: 0;
    }
  }

  .angular-connect {
    display: block;
    margin: 30px 0 0 15px;
    opacity: .5;

    &:hover {
      opacity: 1;
    }

    @media only screen and (max-width: @mobile-width-detection) {
      visibility: hidden;
    }
  }
}