.view-who {
  background-color: @who-color-1;
  background-image: url('img/who.svg');

  .who-sports-img {
    padding: 20px 0 38px 0;
  }

  .who-title {
    margin-top: 0;
    text-align: center;
  }
}