.view-who {
  background-image: url('img/who.svg');

  .title {
    color: @who-color;
  }

  .who-sports-img {
    padding: 20px 0 38px 0;
  }

  .title-section {
    margin-top: 0;
    text-align: center;
  }
}